@model TheOnePercents.Web.Models.UserTasks

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Html5Boilerplate.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserTasks</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserTaskID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTaskID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskCompleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskCompleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
